<div id="event-search" class="row mx-auto guttered heading-text pt-4 mb-4">
    <div class="col-12 col-lg-6">
        <form method="GET" action="{% url 'events' %}" class="d-block form-inline ">
            <div class="input-group">
                <input type="text" name="q" class="form-control rounded-0" placeholder="Search Events..."
                    aria-label="Search Box">
                <div class="input-group-append">
                    <button class="btn button rounded-0" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <i class="d-inline d-sm-none fas fa-tag"></i>
                <span class="d-none d-sm-inline">Category</span>
            </a>
            <div class="dropdown-menu rounded-0">
                {% for category in categories %}
                <a class="dropdown-item"
                    href="{% url 'events' %}?category={{ category.name }}">{{category.friendly_name}}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <i class="d-inline d-md-none fas fa-pound-sign"></i>
                <span class="d-none d-md-inline">Price</span>

            </a>
            <div class="dropdown-menu rounded-0">
                <a class="dropdown-item" href="{% url 'events' %}?sort=price">Lowest First</a>
                <a class="dropdown-item" href="{% url 'events' %}?sort=price&direction=desc">Highest First</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <i class="d-inline d-md-none fas fa-star"></i>
                <span class="d-none d-md-inline">Rating</span>
            </a>
            <div class="dropdown-menu rounded-0">
                <a class="dropdown-item" href="{% url 'events' %}?sort=rating&direction=desc">Highest First</a>
                <a class="dropdown-item" href="{% url 'events' %}?sort=rating">Lowest First</a>
            </div>
        </li>
        </ul>
    </div>
</div>