{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
User Home
{% endblock %}

{% block content %}
<div id="small-page">
    <div class="color-overlay">
        <div class="container-fluid guttered p-3">
            <div class="row pt-1 mb-2">
                <div class="col-12 mb-2">
                    <h2 class="heading-text color-title text-center ext-l mb-0">Welcome {{request.user}}</h2>
                    <hr class="mb-1">
                </div>
            </div>
            <div class="row mt-1 mb-4">
                <div class="col-12">
                    <h2 class="heading-text color-title text-l mb-0">Your Bookings:</h2>
                    <hr>
                </div>
                {% if no_bookings %}
                <div class="col-12">
                    <div class="empty-box below-shadow mx-auto text-center">
                        <h5 class="heading-text text-m mb-2">You have no bookings...</h5>
                        <a class="btn button heading-text text-m" href="{% url 'events' %}">See Events</a>
                    </div>
                </div>
                {% else %}
                <div class="col-12">
                    {% if upcoming_bookings %}
                    <h2 class="heading-text color-title text-m mb-2">Upcoming Events:</h2>
                    <div class="booking-container below-shadow p-4">
                        <table class="table mb-1 table-responsive-sm">
                            <thead class="heading-text text-m">
                                <tr>
                                    <th scope="col">Event:</th>
                                    <th scope="col"></th>
                                    <th scope="col">Date:</th>
                                    <th scope="col">Tickets:</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="body-text text-m">
                                {% for booking in upcoming_bookings %}
                                <tr>
                                    <td colspan="2">
                                        {{ booking.event }}
                                    </td>
                                    <td>
                                        {{ booking.date|date:"d/m/y"}}
                                    </td>
                                    <td>{{ booking.ticket_quantity }}
                                    </td>
                                    <td class="d-none d-md-inline-block">
                                        <img class="img-fluid" src="{{ booking.event.image.url }}"
                                            alt="{{ booking.event.name }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr class="mt-0 mb-3">
                    </div>
                    {% endif %}
                    {% if past_bookings %}
                    <h2 class="heading-text color-title text-m mt-4 mb-2">Past Events:</h2>
                    <div class="booking-container below-shadow p-4">
                        <table class="table mb-1 table-responsive-sm">
                            <thead class="heading-text text-m">
                                <tr>
                                    <th scope="col">Event:</th>
                                    <th scope="col"></th>
                                    <th scope="col">Date:</th>
                                    <th scope="col">Tickets:</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="body-text text-m">
                                {% for booking in past_bookings %}
                                <tr>
                                    <td colspan="2">
                                        {{ booking.event }}
                                    </td>
                                    <td>
                                        {{ booking.date|date:"d/m/y"}}
                                    </td>
                                    <td>{{ booking.ticket_quantity }}
                                    </td>
                                    <td class="d-none d-md-inline-block">
                                        <img class="img-fluid" src="{{ booking.event.image.url }}"
                                            alt="{{ booking.event.name }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr class="mt-0 mb-3">
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-12 col-sm-6 p-0 pl-sm-0">
                    <div class="col-12">
                        <h2 class="heading-text color-title text-m mb-0">Your Details:</h2>
                        <hr class="mb-2">
                    </div>
                    <div class="col-12 body-text">
                            <form action="{% url 'update_details' %}" method="POST">
                                {% csrf_token %}
                                {{ user_form.first_name | as_crispy_field }}
                                {{ user_form.last_name | as_crispy_field }}
                                {{ user_form.phone_number | as_crispy_field }}
                                {{ user_form.email | as_crispy_field }}
                                <p class="body-text text-s text-center">This email is used for sending booking and order confirmations, changing it <strong>will not</strong> change your login email</p>
                                <input class="d-block btn button mx-auto" type="submit" value="Update">
                            </form>
                        <hr class="d-sm-none">
                    </div>
                </div>
                <div class="col-12 col-sm-6 p-0 pr-sm-0">
                    <div class="col-12">
                        <h2 class="heading-text color-title text-m mb-0">Order History</h2>
                        <hr class="mb-2">
                    </div>
                    {% if orders %}
                    <div id="order-history" class="col-12 body-text">
                        <table class="table mb-1">
                            <thead class="heading-text text-m">
                                <tr>
                                    <th class="pt-0" scope="col">Order:</th>
                                    <th class="pt-0" scope="col">Date:</th>
                                    <th class="pt-0" scope="col">Total:</th>
                                </tr>
                            </thead>
                            <tbody class="body-text text-m">
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_summary' order.order_number %}"
                                            class="text-link">{{ order.order_number|truncatechars:8 }}</a>
                                    </td>
                                    <td>
                                        {{ order.date|date:"d/m/y"}}
                                    </td>
                                    <td>{{ order.total }}
                                    </td>
                                    <td class="d-none d-md-inline-block">
                                        <img class="img-fluid" src="{{ booking.event.image.url }}"
                                            alt="{{ booking.event.name }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-12 body-text">
                        <p>You have no orders</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-12 text-center">
                    <hr>
                    <a href="{% url 'account_logout' %}" class="btn button">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}