{% extends 'base.html' %}

{% block content %}
<div class="container-fluid color-overlay">
    {% include 'events/includes/event_search.html' %}
    <div class="row mx-auto guttered mb-4">

        <div class="col-12">
            <h2 class="text-l heading-text">
                {% if query %}
                    Found: {{ events|length }} Events
                {% elif selected_category %}
                    {{selected_category.friendly_name}}: {{ events | length }} Events
                {% else %}
                    All Events
                {% endif %}
            </h2>

        </div>
        <div class="col-12">
            <hr>
        </div>

    </div>
    <div class="row mx-auto guttered pb-2">
        {% for event in events %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2">
            <div class="card rounded-0 below-shadow">
                <a href="{% url 'event_info' event.id %}">
                    <img class="card-img-top rounded-0" src="{{ event.image.url }}" alt="Card image cap">
                    <div class="card-body card-body-title body-text">
                        <h5 class="heading-text">{{ event.name }}</h5>
                    </div>
                </a>
                <ul class="list-group d-none d-lg-flex list-group-flush body-text text-m">
                    <li class="list-group-item">
                        <span>£{{event.price}}</span>
                        <span class="float-right">
                            <i class="fas fa-star"></i> {{event.rating}}
                        </span>
                    </li>
                </ul>
                <div class="card-body justify-content-between">
                    <a href="{% url 'event_info' event.id %}" class="card-link">
                        <i class="fas fa-lg fa-info-circle"></i>
                    </a>
                    <a href="{% url 'book_event' event.id %}" class=" float-right s-btn button heading-text">Book</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}