{% extends 'base.html' %}

{% block content %}

<div id="events-container" class="container-fluid">
    <div class="row mx-auto guttered-row">
        Some text here
    </div>
    <div class="row mx-auto guttered-row pb-2">
        {% for event in events %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2">
            <div class="card rounded-0">
                <a href="{% url 'event_info' event.id %}">
                    <img class="card-img-top rounded-0" src="{{ event.image.url }}" alt="Card image cap">
                    <div class="card-body card-body-title body-text">
                        <h5 class="heading-text">{{ event.name }}</h5>
                    </div>
                </a>
                <ul class="list-group d-none d-lg-flex list-group-flush body-text text-m">
                    <li class="list-group-item">
                        <span>£{{event.price}}</span>
                        <span class="float-right">
                            <i class="fas fa-star"></i> {{event.rating}}
                        </span>
                    </li>
                </ul>
                <div class="card-body justify-content-between">
                    <a href="{% url 'event_info' event.id %}" class="card-link">
                        <div class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </a>
                    <a href="#" class="card-link btn button heading-text">Book</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-2">
            <hr class="short-hr">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!--{% for event in events %}
<div class="card">
  <img class="card-img-top" src="{{ event.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ event.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endfor %}-->
{% endblock %}