{% extends 'base.html' %}


{% block title %}
{{ event.name }}
{% endblock %}

{% block content %}
<div id="small-page">
<div class="color-overlay">
    <div class="container-fluid guttered p-3">
        <div class="row pt-2 mb-2">
            <div class="col-12 text-center">
                <h2 class="heading-text color-title mb-1 ">{{event.name}}</h2>
                <hr class="mb-2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6 mb-2 mt-1">
                <img class="img-fluid below-shadow" src="{{ event.image.url }}" alt="{{event.name}} image">
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="heading-text text-l">Description:</h3>
                <p class="text-m body-text order-1 order-md-0">{{event.description}}</p>
                <div class="order-0 order-md-1">
                    <p class="d-inline heading-text">£{{ event.price }} per ticket</p>
                    <a href="{% url 'book_event' event.id %}" class="float-right btn button">Book</a>
                </div>
            </div>
        </div>
        <div  class="row py-3">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading-text text-l">Key Details:</h3>  
                    </div>
                    <div class="col-12">
                        <p class="body-text">Starts: {{event.start_time|time:"H:i"}}</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p class="body-text">
                            {% if event.age_restricted %}
                                Only adults over 16 can attend this event
                            {% else %}
                                People any age can attend this event
                            {% endif %}                        
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p class="body-text">
                            {% if event.age_restricted %}
                                Attendees will be asked to see their ID
                            {% else %}
                                Children under 12 {% if not event.supervision %}don't{% endif %} require adult supervision
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading-text text-l">Notes:</h3>  
                    </div>
                    <div class="col-12">
                        <p class="body-text">
                            {% if event.category.name == "tours" %}
                                It's reccomended to arrive at the main entrace 15 minutes before the tour begins. Latecomers can still take part but may miss some information.
                            {% elif event.category.name == "outdoor" %}
                                Seating is included with the ticket to outdoors events. With larger shows like the Battle for Elwood, not all seating will be covered so please bring an umbrella.
                            {% elif event.category.name == "indoor" %}
                                All indoor classes provide time for a break if the class is under one hour. Tea and coffee is provided and additional food can be purchased at the canteen. 
                            {% elif event.category.name == "food_drink" %}
                                Be aware that events providing alcohol will ask to see customers ID's. For age restricted events this will result being asked to leave the event space if suitable ID can't be provided. 
                            {% else %}
                                For kid's events which don't require adult supervision, parents can stay and supervise if they'd like. Otherwise please be on time to pick the attendee(s) up once the event finishes.
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="body-text">If you have any other questions please read our <a href="{% url 'faq' %}" class="text-link">FAQ</a>
                            or get in touch <a href="{% url 'contact' %}" class="text-link">here</a></p>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'events' %}" class="text-link"><i class="fas fa-arrow-left"></i> Back to events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}