{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="color-overlay">
    <div class="container-fluid guttered p-3">
        <div class="row pt-1 mb-2">
            <div class="col-12 mb-2">
                <h2 class="heading-text color-title text-l mb-0">Basket Summary<span class="d-none d-md-inline float-right">Total: £{{ total }}</span></h2>
                <h2 class="heading-text color-title text-m mt-1 d-md-none">Total: £{{ total }}</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div class="col-12">
            <div id="{% if basket_items|length == 0%}empty-basket{% else %}basket-container{% endif %}" class="px-2 below-shadow">
                {% if basket_items|length == 0 %}
                    <div class="align">
                        <h5 class="heading-text text-m">Your basket is empty</h5>
                        <a class="body-text text-m d-block text-center" href="{% url 'events' %}">See events</a>
                    </div>
                {% endif %}


                {% for event in basket_items %}
                <div class="media">
                    <img class="mr-3" height="50px" src="{{ event.event.image.url }}" alt="{{ event.event.name }}">
                    <div class="media-body">
                        <h5 class="mt-0 heading-text text-l">{{ event.event.name}}</h5>
                    </div>
                </div>
                <table class="table mb-1 table-responsive-sm">
                    <thead class="heading-text text-m">
                        <tr>
                            <th scope="col">Date:</th>
                            <th scope="col">Tickets:</th>
                            <th scope="col">Subtotal:</th>
                        </tr>
                    </thead>
                    <tbody class="body-text text-m">
                        <tr>
                            <td>{{ event.date }}</td>
                            <td>
                                {{ event.ticket_quantity}}<span data-eventid="{{event.event.id}}" data-date="{{event.date}}" class="text-link update_event ml-3">Update</span>
                            </td>
                            <td>£{{ event.subtotal }}<span id="{{event.date}}_{{event.event.id}}" class="text-link remove_event ml-3">Remove</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="mt-0 mb-3">
                 {% endfor %}
                 </div>
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div class="col-12 d-flex justify-content-between">
                <a href="{% url 'events' %}" class="btn button"><i class="fas fa-arrow-left"></i> Continue Shopping</a>
                <a href="{% url 'checkout' %}" class="btn button {% if basket_items|length == 0 %}disabled{% endif %}">Checkout <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
    <script>
        var csrfToken = "{{csrf_token}}"
    </script>
    <script src="{% static 'basket/js/update_tickets.js' %}"></script>
    <script src="{% static 'basket/js/delete_basket_event.js' %}"></script>
{% endblock %}