{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'flat_pages/css/flat_pages.css' %}">
{% endblock %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<div id="small-page">
    <div class="container-fluid guttered p-3">
        <div class="row pt-1 mb-2">
            <div class="col-12 mb-2">
                <h2 class="heading-text color-title text-l">Frequently Asked Questions:</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row mt-1 mb-3 justify-content-center">
            <div id="accordian-container" class="col-12 mx-auto">
                <div id="accordion" class="rounded-0">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse0" aria-expanded="true"
                            aria-controls="collapse0">
                            <h5 class="mb-0 heading-text text-m"><strong>How will Covid-19 affect my visit?</strong>
                            </h5>
                        </div>
                        <div id="collapse0" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Currently Elwood Castle has a clear social distancing policy.</p>
                                <p class="m-0">Attendees to indoor events and tours are required to wear a mask, our
                                    reception has spares if you forget to bring your own. At all times you'll be
                                    required to keep 2 meters away from guests outside your bubble. If your booking has
                                    been affected by a lockdown you should have already been contacted, if not please <a
                                        href="{% url 'contact' %}" class="text-link">Contact Us</a> so we can move your
                                    booking to a new date.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            <h5 class="mb-0 heading-text text-m"><strong>What time do you open?</strong></h5>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Elwood Castle is open to the public from 10:00am everyday. Last entry is
                                    at 16:00 unless you have tickets to an event starting after four.</p>
                                <p class="m-0">Attendees without tickets to events occuring in the evening will have to
                                    leave the castle by 17:30. </p>
                                <p class="m-0">Elwood Castle is shut Christmas Eve, Christmas Day, Boxing Day, New
                                    Year's Eve and New Year's Day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                            aria-controls="collapse2">
                            <h5 class="mb-0 heading-text text-m"><strong>Is the castle wheelchair accessible?</strong>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Elwood Castle is wheelchair accessible, along with every event offered.
                                </p>
                                <p class="m-0">Some areas of the castle are unaccessible to wheelchair users, but our
                                    guided tours do not enter these portions of the castle.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                            aria-controls="collapse3">
                            <h5 class="mb-0 heading-text text-m"><strong>If I'm late to an event can I still
                                    attend?</strong></h5>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Ticket holders are always permitted to join events after they start,
                                    although the event will end at the normal time.</p>
                                <p class="m-0">Generally Elwood Castle cannot offer compensation for time lost for late
                                    attendees unless there are special circumstances.
                                    If you think you may be late please <a class="text-link"
                                        href="{% url 'contact' %}">Contact Us</a> before hand so we can do our best to
                                    accommodate for the delay.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="true"
                            aria-controls="collapse4">
                            <h5 class="mb-0 heading-text text-m"><strong>How do I refund a booking?</strong></h5>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">All bookings are fully refundable up to three days before the date of the
                                    event.</p>
                                <p class="m-0">Bookings are non-refundable if the date is less than three days before the event, unless
                                    there are special reasons for the cancellation. Please <a class="text-link"
                                        href="{% url 'contact' %}">Contact Us</a> if you have an issue relating to
                                    refunding a booking we'll try to resolve it for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
                            aria-controls="collapse5">
                            <h5 class="mb-0 heading-text text-m"><strong>Can I change the date of a booking?</strong>
                            </h5>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">We can change the event of a booking depending on how many tickets
                                    are avaliable for the new date.</p>
                                <p class="m-0">Please <a class="text-link" href="{% url 'contact' %}">Contact Us</a> and
                                    we'll make sure to move your booking to a date that works for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="true"
                            aria-controls="collapse6">
                            <h5 class="mb-0 heading-text text-m"><strong>Does my child also need a ticket to my
                                    event?</strong></h5>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Children under 4 years old are free to enter any event without a ticket
                                    (other than the Elwood crèche).</p>
                                <p class="m-0">Some seated events such as the Battle at Elwood may require the child
                                    sits on your lap if the event is fully booked but most events won't require this.
                                </p>
                                <p class="m-0">For events where the age is restricted, any child under the age of 16
                                    will be required to leave the event space.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
                            aria-controls="collapse7">
                            <h5 class="mb-0 heading-text text-m"><strong>I forgot my I.D. can I still attend an age
                                    restricted event?</strong></h5>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Elwood Castle operates under Challenge 25 rules. If you are asked for
                                    your I.D. and cannot present it you will be asked to leave the event. Your ticket
                                    will not be refundable but we may be able to transfer your ticket to another day or
                                    book you on a different unrestricted event on the same day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
                            aria-controls="collapse8">
                            <h5 class="mb-0 heading-text text-m"><strong>Do you offer parking?</strong></h5>
                        </div>
                        <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body body-text text-m">
                                <p class="m-0">Elwood Castle has ample car parking space for visitors, please only park
                                    in designated spots as you may damage areas of historical importance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-1 mb-3">
            <div class="col-12 text-center">
                <h2 class="heading-text text-m">Please <a class="text-link" href="{% url 'contact' %}">Contact Us</a> if
                    you have any other questions</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}