@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lora:wght@400;600&family=Raleway:wght@400;600&display=swap');

/* palette

#E7D7C3 #A7B4BC #7D8BAD #1C1E12 #404245 */

.somthing {
    color: #e7d7c3;
    color: #eaedef;
    color: #A7B4BC;
    color: #7D8BAD;
    color: #1C1E12;
    color: #404245;

}
/*----------Default Overrides--------------*/

h5{
    margin: 0;
}

a:hover {
    text-decoration: none;
}

/*--------Text Presets--------*/

.logo-text{
    font-family: 'IM Fell French Canon SC', serif;
}

.heading-text{
    font-family: 'Lora', serif;
}

.body-text{
    font-family: 'Raleway', sans-serif;
}

.text-xxl{
    font-size: 2.5em;
}

.text-l{
    font-size: 1.5em;
}

.text-m{
    font-size:1em;
}
/*------------default margins-------------*/
.col {
    padding: 0;
}
/*------------ Colors ------------*/

.dropdown-menu,
header {
    background-color: #7D8BAD;
}
.color-overlay,
#block-content {
    background-color: #eaedef;
}

#main-navbar i,
button.navbar-toggler,
#main-navbar a{
    color: white;
}

a i {
    color: #7D8BAD;
    transition: color ease-in 0.25s;
}

i:hover {
    color: #A7B4BC;
}

.text-link {
    cursor: pointer;
    color: #7D8BAD;
    transition: color ease-in 0.25s;
}

.card-body-title{
    color: white;
    background-color: #1C1E12;
}

.text-link:hover,
.color-title {
  color: #1C1E12;
}

.above-shadow{
    box-shadow: 0px -5px 5px -5px #777;;
}

.below-shadow{
    box-shadow: 0px 7px 5px -5px #777;;
}

/*-------key element styling----------*/

.button{
    border-radius: 0;
    border: 1px solid #1C1E12;
    background-color: #1C1E12;
    color: white;
    transition: all 0.25s ease-out;
}

.s-btn{
    text-align: center;
    vertical-align: middle;
    padding: .2rem .5rem;
    font-size: 0.75rem;
    line-height: 1.5;
}

.button.fixed-width{
    width: 5em;
}

.button:hover{
    color: #1C1E12;
    border: 1px solid #1C1E12;
    background-color: #eaedef;
    font-weight: 600;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(176,180,186,.25);
}

.icon {

}

.short-hr{
    width: 75%;
}

/*------------ Navbar ----------*/

#main-navbar {
    padding: 0em 1em;
}

button.navbar-toggler,
#main-navbar ul>li>a {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-brand {
    margin: 0;
}
.navbar-brand>img{
    vertical-align: top;
}

.dropdown-menu{
    border: 0;
}

div[aria-labelledby="account-dropdownMenuLink"]>.dropdown-item{
    padding-left: .5em;
}

/*----------Base template----------------*/

#block-content{
    height: calc(100vh - 84px);
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(176, 180, 188, 0.3);
}

#main-logo>div{
    display: none;
}

/*--------events------------*/

.card-body-title>h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.2em;
}

.card-body:not(.card-body-title){
    padding: .75rem 1.25rem;
}

#event-search>* {
    padding: 0;
}
@media (max-width: 575px){
   .guttered{
        width: 90%
    }

}

@media (min-width: 580px){
    .guttered{
        width: 80%;
    }
}

/*----prevents the rating dropdown clipping out the page on small screens----*/
@media (max-width: 750px){
    #event-search>div:nth-child(2)>li:last-child>div {
        left: -60px;
    }
}

@media (max-width: 991px){
    #banner{
        padding-top: 80px;
    }
}

@media (min-width: 992px){
    #banner{
        padding-top: 84.4px;
    }
}