/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lora:wght@400;600&family=Raleway:wght@400;600&display=swap');


/*----------Default Overrides--------------*/
h5{
    margin: 0;
}

a:hover {
    text-decoration: none;
}

button:focus{
    outline: none;
}

/*--------Text Presets--------*/
.logo-text{
    font-family: 'IM Fell French Canon SC', serif;
}

#allauth-content label,
.datepicker-days th,
.heading-text{
    font-family: 'Lora', serif;
}

#allauth-content input,
.datepicker-days td,
.body-text{
    font-family: 'Raleway', sans-serif;
}

.text-xxl{
    font-size: 2.5em;
}

.text-l{
    font-size: 1.5em;
}

.text-m {
    font-size:1em;
}

.text-s {
    font-size: 0.75em;
}
/*------------default margins-------------*/
.col {
    padding: 0;
}

/*------------ Colors ------------*/

#main-navbar .dropdown-item:hover,
.navbar .dropdown-menu,
header {
    background-color: #7D8BAD;
}

#small-page,
.color-overlay,
#block-content {
    background-color: #eaedef;
}

.card-body-title{
    color: white;
    background-color: #1C1E12;
}

a.navbar-brand{
    color: white;
}

.color-title {
  color: #1C1E12;
}

.error-message,
.text-link.remove_event:hover,
body .datepicker table tr td.disabled:hover,
#card-errors,
body .datepicker table tr td.disabled{
   color: #ff6961;
}

/*-------key element styling----------*/

.button{
    border-radius: 0;
    border: 1px solid #1C1E12;
    background-color: #1C1E12;
    color: white;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.s-btn{
    text-align: center;
    vertical-align: middle;
    padding: .2rem .5rem;
    font-size: 0.75rem;
    line-height: 1.5;
}

.button.fixed-width{
    width: 6em;
}

.button:hover{
    color: #1C1E12;
    border: 1px solid #1C1E12;
    background-color: #eaedef;
    font-weight: 600;
}

.btn:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(176,180,186,.25);
            box-shadow: 0 0 0 0.2rem rgba(176,180,186,.25);
}

::-webkit-input-placeholder {
    color: #7D8BAD;
}

::-moz-placeholder {
    color: #7D8BAD;
}

:-ms-input-placeholder {
    color: #7D8BAD;
}

::-ms-input-placeholder {
    color: #7D8BAD;
}

::placeholder {
    color: #7D8BAD;
}

.form-control::-webkit-input-placeholder {
  color: #7D8BAD;
}

.short-hr{
    width: 75%;
}

.text-link {
    cursor: pointer;
    color: #404245;
    -webkit-transition: color ease-in 0.25s;
    -o-transition: color ease-in 0.25s;
    transition: color ease-in 0.25s;
}

.text-link:focus-within,
.text-link:hover{
    color: #7D8BAD; 
}

.above-shadow{
    -webkit-box-shadow: 0px -5px 5px -5px #777;
            box-shadow: 0px -5px 5px -5px #777;;
}

.below-shadow{
    -webkit-box-shadow: 0px 7px 5px -5px #777;
            box-shadow: 0px 7px 5px -5px #777;;
}

#banner .alert{
    font-size: 1em;
    background-color: rgba(126, 191, 238, 0.664);
    color: white;
    border-radius: 0;
}

#banner .alert a{
    color: white;
    -webkit-transition: font-weight ease-out 0.25s;
    -o-transition: font-weight ease-out 0.25s;
    transition: font-weight ease-out 0.25s;
}

#banner .alert a:hover{
    font-weight: 600;
}


/*------------ Navbar ----------*/

#main-navbar {
    padding: 0em 1em;
}

button.navbar-toggler,
#main-navbar ul>li>a {
    padding-right: .5rem;
    padding-left: .5rem;
}

#main-navbar button.navbar-toggler{
    margin-right: 3em;
}

.navbar-brand {
    margin: 0;
}
.navbar-brand>img{
    vertical-align: top;
}

.dropdown-menu{
    border: 0;
}

div[aria-labelledby="account-dropdownMenuLink"]>.dropdown-item{
    padding-left: .5em;
}

#main-navbar .dropdown-item,
button.navbar-toggler,
.navbar a.nav-link{
    color: white;
    -webkit-transition: color ease-out 0.25s;
    -o-transition: color ease-out 0.25s;
    transition: color ease-out 0.25s;
}

#main-navbar .dropdown-item:hover,
button.navbar-toggler:hover,
.navbar a.nav-link:hover{
    color: #404245;
}

/*----------Footer ---------------*/
footer {
    color: white;
    background-color: #404245;
}

footer>.row {
    margin: 0;
}

.footer-link {
    color: white;
    -webkit-transition: color ease-out 0.25s;
    -o-transition: color ease-out 0.25s;
    transition: color ease-out 0.25s;
}

.footer-link:hover{
    color: #7D8BAD;
}
/*----------Toasts ----------------------*/

#message-box{
    position: relative;
    width: 100%;
}

.toast {
    position: fixed;
    margin-top: 1px;
    right: 1px;
    z-index: 9999;
    border-radius: 0;
    background-color: white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
            box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    opacity: 1;
}

.close{
    color: white;
    text-shadow: none;
    -webkit-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.close:hover {
    color: #1C1E12;
}

.toast-header{
    color: white;
}

.toast-success>.toast-header{
    background-color: #90ee90;
    
}
.toast-error>.toast-header{
    background-color: #ff6961;
}

.toast-other>.toast-header{
    background-color: #7ec0EE;
}

/*----------Base template----------------*/
#block-content{
    height: calc(100vh - 84px);
}
#small-page{
    min-height: calc(100vh - 84px);
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(176, 180, 188, 0.3);
}

#main-logo>div{
    display: none;
}

/*--------events------------*/

#navbar-logo{
    height: 70px;
}

.card-body-title>h5{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-bottom: 0.2em;
}

.card-body:not(.card-body-title){
    padding: .75rem 1.25rem;
}

.card a>i {
    color: #7D8BAD;
    -webkit-transition: color ease-in 0.25s;
    -o-transition: color ease-in 0.25s;
    transition: color ease-in 0.25s;
}

.card a>i:hover {
    color: #A7B4BC;
}

#event-search .dropdown-menu{
    background-color: white;
}

#event-search .dropdown-item{
    color: #1C1E12;
    -webkit-transition: color ease-out 0.25s;
    -o-transition: color ease-out 0.25s;
    transition: color ease-out 0.25s;
}

#event-search .dropdown-item:focus,
#event-search .dropdown-item:hover{
    color: #7D8BAD;
    background-color: white;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: white;
}

/*---------------Event Booking ------------*/

.form-wrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(176, 180, 188, 0.9);
}
body .datepicker table tr td.active:hover.active,
body .datepicker table tr td.active.active,
body .datepicker table tr td.active.active {
    color: white;
    background-color: #1C1E12;
    background-image: none;
    border-radius: 0;
}

#ticket-info{
    height: 18px;
}

/*--------------Basket----------*/

#basket-container{
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #1C1E12;
}

.table td,
.table th {
    padding-left: 0;
    padding-right: 1.5rem;
    border-top: 0;
}

#basket-container .basket-input{
    min-width: 2em;
}

#empty-basket{
    height: 30vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #1C1E12;
}

#empty-basket>div{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*-----------Checkout--------------*/

fieldset {
    min-width: 0;
    padding: 1rem;
    margin: 0;
    border: 1px solid #1C1E12;
}

#checkout-form label{
    margin-bottom: 0;
}

#checkout-form .form-group{
    margin-bottom: 5px;
}

#checkout-form label{
    font-size: small;
}

#card-element,
.form-control {
    padding: .375rem .75rem;
    background-color: white;
    border-radius: 0;
}

.form-control:focus {
    color: #777;
    background-color: #fff;
    border-color: initial;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 0.2rem rgba(125,139,173,.25);
            box-shadow: inset 0 0 0 0.2rem rgba(125,139,173,.25);
}

#checkout-form>div,
#checkout-form input{
    max-width: 80%;
    margin: 0;
}

/*--------------Checkout Success---------*/

.booking-container .img-fluid{
    max-width: 140px;
}

.booking-container{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #1C1E12;
}


/*----------All Auth---------------*/

.alert-danger {
    color: white;
    background-color: #ff6961;
    border-radius: 0;
}

.invalid-feedback{
    color: #ff6961;
    margin-bottom: .25rem;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: #ff6961;
}

/*--------------user home----------*/

.empty-box{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
    border: 1px solid #777;
}

#order-history{
    max-height: 12em;
    overflow-y: scroll;
}


/*----media breakpoints----*/

@media (min-width: 580px){
    #booking-form {
        width: 50%;
    }
    .guttered{
        width: 80%;
    }

    #allauth-content input{
        max-width: 400px;
    }
}


@media (max-width: 750px){
    #event-search>div:nth-child(2)>li:last-child>div {
        left: -60px;
    }

}

@media (max-width: 991px){
    #banner{
        padding-top: 80px;
    }
}

@media (max-width: 575px){
   .guttered{
        width: 90%
    }

    #banner{
        padding-top: 50px;
    }

    #navbar-logo{
    height: 40px;
    }

}

@media (min-width: 992px){
    #banner{
        padding-top: 84.4px;
    }

    .booking-container .img-fluid{
    max-width: 140px;
    }
}