#image-overlay {
    height: 100%;
    width: 100%;
    background-image: url('/static/flat_pages/images/background.jpg');
    background-size: cover;
    background-position: center;
    animation: castle-image 15s 5s infinite;
}

@keyframes castle-image {
    33% {
    background-image: url('/static/flat_pages/images/background-grounds.jpg');
  }
    66% {
    background-image: url('/static/flat_pages/images/background-gardens.jpg');
  }
    99% {
    background-image: url('/static/flat_pages/images/background.jpg');
  }
}

.wrapper>div {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-logo {
    height: 200px;
}

/*-------------Vist Page--------------*/

#map {
    height: 20em;
    width: auto;
}

/*---------Contact Page---------*/


@media (min-width: 1040px){
    #contact-form{
        max-width: 75%;
    }
}