{% extends 'base.html'%}

<div class="col-12 mb-2">
    <strong>Menu:</strong>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</div>
{% block content %}
<div class="color-overlay">
    <div class="container-fluid guttered p-3">
        <div class="row pt-1 mb-2">
            <div class="col-12 mb-2">
                <h2 class="heading-text color-title text-l mb-0">Account</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div id="allauth-content" class="col-12 mb-2">
                {% block allauth_content %}
                {% endblock %}
                {% block extra_body %}
                {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>